NEXTAUTH_URL=https://amajeste.com.br
NEXTAUTH_SECRET=troque-por-um-segredo-longo
ADMIN_EMAIL=admin@amajeste.com.br
ADMIN_PASSWORD=troque-esta-senha
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_SANDBOX=false
NEXT_PUBLIC_SITE_URL=https://amajeste.com.br
